fieldset {
    //width: 40%;
    width: 25rem;
    margin: auto;
    position: relative;
    top: 5rem;
}

input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 18px;
    margin: 7px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button] {
    width: 20%;
    background-color: #009999;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}

input[type=password], input[type=email], input[type=text] {
    //width: 50%;
    width: 20rem;
    padding: 10px 18px;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


@media only screen and (max-width: 1050px) {
    input[type=password], input[type=email] {
        width: 100%;
    }

    input[type=submit] {
        width: 100%;
    }

    fieldset {
        width: 100%;
        position: none;
        top: 0;
    }
    
}