
<div class="container" role="main">

    <div class="frontend" *ngIf="token === 'Token'">
        <h1 *ngIf="showNav"> {{ title }} </h1>

        <ul *ngIf="showNav" class="user">
            <a (click)="showNav = false; showEditor = false" routerLink="/login"> <li>Logga in</li> </a>
            <a (click)="showNav = false; showEditor = false" routerLink="/register"> <li>Registrera</li> </a>
        </ul>

        <ckeditor id="editor" *ngIf="showEditor" [editor]="Editor" ></ckeditor>
    </div>



    <app-ckeditor *ngIf="token !== 'Token'"> </app-ckeditor>

</div>

<router-outlet></router-outlet>
